<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
  ~ Module Name: hcstools
  ~ This module is a plugin for the KNIME platform <http://www.knime.org/>
  ~
  ~ Copyright (c) 2011.
  ~ Max Planck Institute of Molecular Cell Biology and Genetics, Dresden
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Detailed terms and conditions are described in the license.txt.
  ~     also see <http://www.gnu.org/licenses/>.
  --><plugin>

    <extension point="org.knime.workbench.repository.nodes">

        <!-- experimental -->

        <!--normalization-->
        <node category-path="/community/hcstools/normalization" factory-class="de.mpicbg.knime.hcs.base.nodes.norm.zscore.ZScoreNormalizerNodeFactory" id="de.mpicbg.tds.knime.hcstools.normalization.bycolumn.node_zscore.ZScoreNormalizerNodeFactory"/>

        <node category-path="/community/hcstools/normalization" factory-class="de.mpicbg.knime.hcs.base.nodes.norm.poc.PocNormalizerNodeFactory" id="de.mpicbg.tds.knime.hcstools.normalization.bycolumn.node_poc.PocNormalizerNodeFactory"/>

        <node category-path="/community/hcstools/normalization" factory-class="de.mpicbg.knime.hcs.base.nodes.norm.npi.NpiNormalizerNodeFactory" id="de.mpicbg.tds.knime.hcstools.normalization.bycolumn.node_npi.NpiNormalizerNodeFactory"/>

        <node category-path="/community/hcstools/normalization" factory-class="de.mpicbg.knime.hcs.base.nodes.norm.BScoreNormalizerFactory" id="de.mpicbg.tds.knime.hcstools.normalization.BScoreNormalizerFactory"/>

        <!--row normalization -->
        <node category-path="/community/hcstools/normalization" factory-class="de.mpicbg.knime.hcs.base.nodes.norm.vect.VectorLengthNormalizerFactory" id="de.mpicbg.tds.knime.hcstools.normalization.byrow.VectorLengthNormalizerFactory"/>


        <!--visualization-->
        <node category-path="/community/hcstools/view" factory-class="de.mpicbg.knime.hcs.base.nodes.viz.HeatMapViewerFactory" id="de.mpicbg.tds.knime.hcstools.visualization.HeatMapViewerFactory"/>

        <!--quality control-->
        <node category-path="/community/hcstools/qc" factory-class="de.mpicbg.knime.hcs.base.nodes.qc.ZPrimesNxMFactory" id="de.mpicbg.tds.knime.hcstools.qualitycontrol.ZPrimesNxMFactory"/>

        <node category-path="/community/hcstools/qc" factory-class="de.mpicbg.knime.hcs.base.nodes.qc.CVCalculatorFactory" id="de.mpicbg.tds.knime.hcstools.qualitycontrol.CVCalculatorFactory"/>

        <node category-path="/community/hcstools/qc" factory-class="de.mpicbg.knime.hcs.base.nodes.qc.SSMD_NxMFactory" id="de.mpicbg.tds.knime.hcstools.qualitycontrol.SSMD_NxMFactory"/>

        <node category-path="/community/hcstools/qc" factory-class="de.mpicbg.knime.hcs.base.nodes.qc.MultivariateZPrimesFactory" id="de.mpicbg.tds.knime.hcstools.qualitycontrol.MultivariateZPrimesFactory"/>


        <!--screen mining-->
        <node category-path="/community/hcstools/screenmining" factory-class="de.mpicbg.knime.hcs.base.nodes.mine.EnrichmentAnalyzerFactory" id="de.mpicbg.tds.knime.hcstools.screenmining.EnrichmentAnalyzerFactory"/>

        <node category-path="/community/hcstools/screenmining"
              factory-class="de.mpicbg.knime.hcs.base.nodes.mine.dosereponse2.DoseResponseFactory2"
              id="de.mpicbg.tds.knime.hcstools.screenmining.doseresponse.DoseResponseFactory2"/>

        <!--utilities-->
        <node category-path="/community/hcstools/util" factory-class="de.mpicbg.knime.hcs.base.nodes.layout.ConvertPlateRowsFactory" id="de.mpicbg.tds.knime.hcstools.utils.ConvertPlateRowsFactory"/>

        <node category-path="/community/hcstools/util" factory-class="de.mpicbg.knime.hcs.base.nodes.layout.ExpandWellPositionFactory" id="de.mpicbg.tds.knime.hcstools.utils.ExpandWellPositionFactory"/>

        <node category-path="/community/hcstools/util" factory-class="de.mpicbg.knime.hcs.base.nodes.layout.LoadLayoutV2NodeFactory" id="de.mpicbg.tds.knime.hcstools.utils.node_loadlayout.LoadLayoutV2NodeFactory"/>

        <node category-path="/community/hcstools/util" factory-class="de.mpicbg.knime.hcs.base.nodes.layout.JoinLayoutV2NodeFactory" id="de.mpicbg.tds.knime.hcstools.utils.JoinLayoutV2NodeFactory"/>

        <node category-path="/community/hcstools/util" factory-class="de.mpicbg.knime.hcs.base.nodes.layout.expandbarcode2.ExpandPlateBarcodeFactory2" id="de.mpicbg.tds.knime.hcstools.utils.ExpandPlateBarcodeFactory2"/>


        <!--IO data reader-->
        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.reader.OperettaFileReaderFactory" id="de.mpicbg.tds.knime.hcstools.reader.OperettaFileReaderFactory"/>

        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.reader.OperaFileReaderFactory" id="de.mpicbg.tds.knime.hcstools.reader.OperaFileReaderFactory"/>

        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.reader.EnvisionFileReaderFactory" id="de.mpicbg.tds.knime.hcstools.reader.EnvisionFileReaderFactory"/>

        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.reader.GeniusProFileReaderFactory" id="de.mpicbg.tds.knime.hcstools.reader.GeniusProFileReaderFactory"/>

        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.reader.MotionTrackingFileReaderFactory" id="de.mpicbg.tds.knime.hcstools.reader.MotionTrackingFileReaderFactory"/>

        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.reader.SectorImagerFileReaderFactory" id="de.mpicbg.tds.knime.hcstools.reader.SectorImagerFileReaderFactory"/>

        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.reader.XMLFileReaderFactory" id="de.mpicbg.tds.knime.hcstools.reader.XMLFileReaderFactory"/>
                          
        <node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.helper.ExampleDataNodeFactory" id="de.mpicbg.tds.knime.helpers.exdata.ExampleDataNodeFactory"/>

		<node category-path="/community/hcstools/io" factory-class="de.mpicbg.knime.hcs.base.nodes.io.echoreader.EchoFileReaderNodeFactory" id="de.mpicbg.knime.hcs.base.echofilereader.EchoFileReaderNodeFactory"/>

        <!--Data manipulators-->
        <node category-path="/community/hcstools/manipulation/column/split+combine" factory-class="de.mpicbg.knime.hcs.base.nodes.manip.col.BetterCellSplitterFactory" id="de.mpicbg.tds.knime.hcstools.datamanip.column.BetterCellSplitterFactory"/>

        <node category-path="/community/hcstools/manipulation/column/split+combine" factory-class="de.mpicbg.knime.hcs.base.nodes.manip.col.BetterColumnCombinerFactory" id="de.mpicbg.tds.knime.hcstools.datamanip.column.BetterColumnCombinerFactory"/>

        <node category-path="/community/hcstools/manipulation/row/filter" factory-class="de.mpicbg.knime.hcs.base.nodes.manip.row.RangeFilterV2Factory" id="de.mpicbg.tds.knime.hcstools.datamanip.row.RangeFilterV2Factory"/>

        <node category-path="/community/hcstools/manipulation/row/filter" factory-class="de.mpicbg.knime.hcs.base.nodes.manip.row.RangeSplitterFactory" id="de.mpicbg.tds.knime.hcstools.datamanip.row.RangeSplitterFactory"/>


        <!--Pre-prcessors-->
        <node category-path="/community/hcstools/prepro" factory-class="de.mpicbg.knime.hcs.base.nodes.preproc.OutlierRemovalFactory" id="de.mpicbg.tds.knime.hcstools.preprocessing.OutlierRemovalFactory"/>

        <node category-path="/community/hcstools/prepro" factory-class="de.mpicbg.knime.hcs.base.nodes.preproc.ParameterMutualInformationFactory" id="de.mpicbg.tds.knime.hcstools.preprocessing.ParameterMutualInformationFactory"/>

        <node category-path="/community/hcstools/prepro" factory-class="de.mpicbg.knime.hcs.base.nodes.preproc.GroupMutualInformationFactory" id="de.mpicbg.tds.knime.hcstools.preprocessing.GroupMutualInformationFactory"/>

        <node category-path="/community/hcstools/populationanalysis" factory-class="de.mpicbg.knime.hcs.base.nodes.mine.BinningAnalysisNodeFactory" id="de.mpicbg.tds.knime.hcstools.populationanalysis.BinningAnalysisNodeFactory"/>
        
         <node category-path="/community/hcstools/populationanalysis" factory-class="de.mpicbg.knime.hcs.base.nodes.mine.binningcalculate.BinningCalculateNodeFactory" id="de.mpicbg.knime.hcs.base.nodes.mine.binningcalculate.BinningCalculateNodeFactory"/>

    <node category-path="/community/hcstools/manipulation/column" factory-class="de.mpicbg.knime.hcs.base.nodes.manip.col.numformat.NumberFormatterNodeFactory" id="de.mpicbg.knime.hcs.base.nodes.manip.col.numformat.NumberFormatterNodeFactory"/>

    <node category-path="/community/hcstools/util" factory-class="de.mpicbg.knime.hcs.base.nodes.layout.createwellposition.CreateWellPositionNodeFactory" id="de.mpicbg.knime.hcs.base.nodes.layout.createwellposition.CreateWellPositionNodeFactory"/>

<node category-path="/" factory-class="de.mpicbg.knime.hcs.base.nodes.mine.binningqualitycontrol.BinningQualityControlNodeFactory" id="de.mpicbg.knime.hcs.base.nodes.mine.binningqualitycontrol.BinningQualityControlNodeFactory"/>
<node
      category-path="/community/hcstools/populationanalysis"
      deprecated="false"
      factory-class="de.mpicbg.knime.hcs.base.nodes.mine.binningapply.BinningApplyNodeFactory"
      id="de.mpicbg.knime.hcs.base.nodes.mine.binningapply.BinningApplyNodeFactory">
</node>
</extension>

    <extension point="org.knime.workbench.repository.categories">
        <category icon="resources/hcstoolsicon.png" level-id="hcstools" name="HCS Tools" path="/community"/>
        <category icon="resources/category_qc.png" level-id="qc" name="Quality Control" path="/community/hcstools"/>
        <category icon="resources/category_normalization.png" level-id="normalization" name="Normalization" path="/community/hcstools"/>
        <category level-id="experimental" name="Experimental" path="/community/hcstools"/>
        <category icon="resources/category_learner.gif" level-id="screenmining" name="Screen Mining" path="/community/hcstools"/>
        <category icon="resources/category_io.png" level-id="io" name="IO" path="/community/hcstools"/>
        <category icon="resources/category_utils.png" level-id="util" name="Utilities" path="/community/hcstools"/>
        <category icon="resources/categtory_views.png" level-id="view" name="Data Views" path="/community/hcstools"/>
        <category icon="resources/category_transform.gif" level-id="manipulation" name="Data Manipulation" path="/community/hcstools"/>
        <category icon="resources/category_column.png" level-id="column" name="Column" path="/community/hcstools/manipulation"/>
        <category icon="resources/category_row.png" level-id="row" name="Row" path="/community/hcstools/manipulation"/>
        <category icon="resources/category_filter.png" level-id="filter" name="Filter" path="/community/hcstools/manipulation/row"/>
        <category icon="resources/category_Split_combine.png" level-id="split+combine" name="Split &amp; Combine" path="/community/hcstools/manipulation/column"/>
        <category icon="resources/category_preprocessing.png" level-id="prepro" name="Pre-Processing" path="/community/hcstools/"/>
        <category icon="resources/category_population_analysis.png" level-id="populationanalysis" name="Population analysis" path="/community/hcstools/"/>

        <!--add the view components directly to the view-category -->
        <!--<category level-id="screening" name="Screening" path="/view"/>-->
    </extension>


    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="de.mpicbg.knime.hcs.base.prefs.HCSToolsPreferenceInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.knime.workbench.ui.preferences" class="de.mpicbg.knime.hcs.base.prefs.HCSToolsPreferencePage" id="de.mpicbg.tds.knime.hcstools.prefs.HCSToolsPreferencePage" name="HCS-Tools">
        </page>
        <page category="de.mpicbg.tds.knime.hcstools.prefs.HCSToolsPreferencePage" class="de.mpicbg.knime.hcs.base.prefs.KnimeHelpersPreferencePage" id="de.mpicbg.tds.knime.helpers.prefs.KnimeHelpersPreferencePage" name="HCS Helpers">
        </page>
    </extension>

    <extension point="org.knime.product.splashExtension">
        <splashExtension icon="resources/hcstools_splash.png" id="HCS-Tools" tooltip="Some tools to ease HCS analysis">
        </splashExtension>
    </extension>
    <extension point="org.knime.base.AggregationOperator">
       <AggregationOperator AggregationOperator="de.mpicbg.knime.hcs.base.aggregation.HCSMeanOperator" deprecated="false">
       </AggregationOperator>
       <AggregationOperator AggregationOperator="de.mpicbg.knime.hcs.base.aggregation.HCSMadOperator" deprecated="false">
       </AggregationOperator>
    </extension>
    <extension
          point="org.knime.core.DataValueRenderer">
       <dataValue
             valueClass="org.knime.core.data.IntervalValue">
          <renderer
                rendererFactoryClass="de.mpicbg.knime.hcs.base.IntervalValueRenderer$IntervalValueRendererFactory"
                suggestAsDefault="true">
          </renderer>
          <renderer
                rendererFactoryClass="de.mpicbg.knime.hcs.base.IntervalValueScientificRenderer$IntervalValueScientificRendererFactory"
                suggestAsDefault="false">
          </renderer>
       </dataValue>
    </extension>
    <extension
          point="org.knime.core.PortType">
       <portType
             color="#99ff33"
             hidden="false"
             name="Binning Port Object"
             objectClass="de.mpicbg.knime.hcs.base.node.port.binning.BinningPortObject"
             objectSerializer="de.mpicbg.knime.hcs.base.node.port.binning.BinningPortObjectSerializer"
             specClass="de.mpicbg.knime.hcs.base.node.port.binning.BinningPortObjectSpec"
             specSerializer="de.mpicbg.knime.hcs.base.node.port.binning.BinningPortObjectSpec$Serializer">
       </portType>
    </extension>

</plugin>
